*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font: inherit;
}

html {
  font-family: 'Chewy', sans-serif;
  font-size: 20px;
}

body {
  line-height: 1.5;
  color: #222;
}

button {
  cursor: pointer;
  background: transparent;
  border: 0;
  outline: none;
}

hr {
  margin: 1em 0;
  border: 0;
  border-bottom: 1px solid white;
}

ul {
  list-style: none;
}

.fa {
  color: white;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  pointer-events: none;
}

/* App */

.app {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.app::before {
  position: absolute;
  top: -5px;
  right: -5px;
  bottom: -5px;
  left: -5px;
  content: '';
  background: url('assets/background.jpg') left / cover no-repeat;
  filter: blur(2px);
}

/* Board */

.board {
  position: relative;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  width: 100%;
  max-width: 1200px;
  height: 100%;
  max-height: 1200px;
  padding: 20px;
  padding-top: 5rem;
  margin: 0 auto;
}

@media (min-aspect-ratio: 1/1) {
  .board {
    grid-template-columns: repeat(6, 1fr);
  }
}

/* Board item */

.board-item {
  background: transparent;
  border: 0;
  border-radius: 10px;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.5), 0 0 20px rgba(0, 0, 0, 0.2);
  transition: 0.4s;
}

.board-item:hover {
  background: rgba(255, 255, 255, 0.2);
  transform: scale(1.04);
}

.board-item.m--active {
  background: rgba(255, 255, 255, 0.1);
  transform: rotateY(180deg);
}

.board-item.m--solved {
  pointer-events: none;
  opacity: 0;
}

.board-item .fa {
  font-size: 5vh;
  opacity: 0;
  transition-delay: 0.1s;
}

.board-item.m--active .fa {
  opacity: 1;
  transform: rotateY(180deg);
}

@media (min-width: 768px) {
  .board-item .fa {
    font-size: 8vh;
  }
}

@media (min-width: 1200px) {
  .board-item .fa {
    font-size: 4.5rem;
  }
}

/* Info */

.info {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  width: 600px;
  max-width: 90%;
  padding: 0.5em 1em;
  font-size: 1rem;
  text-align: center;
  background: rgba(255, 255, 255, 0.5);
  border: 0;
  border-radius: 10px;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.5), 0 0 20px rgba(0, 0, 0, 0.2);
  transition: opacity 0.4s;
  transform: translate(-50%, -50%);
}

@media (min-width: 768px) {
  .info {
    padding: 1em 3em;
  }
}

@media (min-width: 1200px) {
  .info {
    font-size: 1.5rem;
  }
}

/* Menu */

.menu {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 2;
}

.menu-btn {
  padding: 0.25em;
  font-size: 2rem;
  border: 0;
}

.menu-content button {
  width: 100%;
  color: black;
  background: white;
  border-radius: 10px;
  transition: 0.1s;
}

.menu-content button:hover {
  color: white;
  background: black;
}

.menu-info {
  font-size: 0.5em;
  text-align: left;
}

/* Time */

.time-container {
  position: fixed;
  top: 1em;
  left: 1em;
  padding: 0.25em 2em;
  background: rgba(255, 255, 255, 0.5);
  border: 0;
  border-radius: 10px;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.5), 0 0 20px rgba(0, 0, 0, 0.2);
}

/* Misc */

.hidden {
  pointer-events: none;
  opacity: 0;
}
